main{
    margin: 0 15%;
}

h1{
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5rem;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 60%;
    animation: bg-animation 10s infinite;
}

h2{
    font-size: 3rem;
    color: var(--text-2);
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}
