{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <header>
        <h1>Questionnaire</h1>
    </header>
    <main>
        {% for messages in app.flashes %}
            {% for message in messages %}
                <div class="notice-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {{ include('main/_form.html.twig') }}

    </main>
{% endblock %}
