{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <header>
        <h1>Questionnaire</h1>
    </header>
    <main>
        {{ include('main/_form.html.twig') }}
    </main>
{% endblock %}
