.flex{
    display: flex;
    justify-content: center;
}

.center{
    align-items: center;
}

.align-right{
    align-items: end;
}

.align-left{
    align-items: start;
}
.flex-space-beetween{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}