/*  Theme Color */
.notice-success {
    color: var(--white);
    background-color: var(--vert);
}

html, small, label,label:first-child, input[type="radio"] + label, input[type="radio"]:checked + label, textarea, .email-parent {
    color: var(--blue);
}

textarea, .email-parent, input[type="radio"] + label{
    border-color: var(--primary);
    background-color: white;
}
input[type="radio"]:checked + label{
    border-color: var(--oramge);
}

label  {
    border-color: var(--primary);
}

form > button {
    background-color: var(--primary);
    color: var(--white);
}
form ul{
    color: var(--white);
    background-color: red;
}
