/*  Theme Color */
html {
    background: var(--primary);
    color: var(--secondary);
}

small {
    color: var(--secondary);
}
label{
    color: var(--primary);
}

input[type="radio"] + label{
    color: var(--secondary);
    border-color: var(--secondary);
}

input[type="radio"]:checked + label{
    border-color: var(--primary);
    color: var(--secondary);
}

textarea, .email-parent{
    border-color: var(--secondary);
}

form > button {
    background-color: var(--secondary);
}

.notice-success {
    background-color: var(--swatch-5);
    color: var(--primary);
}

