/*  Theme Color */
.notice-success {
    color: var(--primary);
}

html, small, label,label:first-child, input[type="radio"] + label, input[type="radio"]:checked + label, textarea, .email-parent {
    color: var(--secondary);
}

textarea, .email-parent, input[type="radio"] + label, input[type="radio"]:checked + label{
    border-color: var(--secondary);
}

html, textarea, .email-parent{
    background-color: var(--primary);
}

form > button, .notice-success  {
    background-color: var(--secondary);
}



