html {
    --blue: oklch(66% 0.14 253);
    --black: rgb(4, 5, 19);
    --white: rgb(255, 255, 255);
    --oramge: rgb(255, 165, 0);
    --vert: rgb(0, 128, 0);
    --gradient: linear-gradient(45deg, var(--blue), var(--oramge) ,25%,var(--blue));
}

@media (prefers-color-scheme: light) {
    html {
        --primary: var(--blue);

    }
}