html {
    --hue: 300; /* change color of site | oklch.com */
    --swatch-1: oklch(99% .05 var(--hue));
    --swatch-2: oklch(80% .2 var(--hue));
    --swatch-3: oklch(67% .5 var(--hue));
    --swatch-4: oklch(5% .1 var(--hue));

    --primary: var(--swatch-4);
    --secondary: var(--swatch-3);

    --gradient: linear-gradient(90deg, var(--swatch-2), var(--swatch-3),var(--swatch-2));
}

@media (prefers-color-scheme: light) {
    html {
        --primary: var(--swatch-1);
        --secondary: var(--swatch-3);
    }
}