*{
    margin: 0;
    padding: 0;
}

html{
    block-size: 100%;
    color-scheme: dark light;
    font-size: 62.5%;
}

body{
    font-family: system-ui, sans-serif;
    font-size: 1.4em;
}

article, aside, footer, header, nav, section {
    display: block;
}

li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: auto;
    height: auto;
    vertical-align: middle;
}
a img {
    border: 0;
}